= form_with url: activity_path(activity), method: :delete do |f|

  %fieldset
    %label.inline
      = check_box_tag :confirm_delete
      = t('delete_activity_form.confirmation', count: activity.participants.count)

  = f.button t('delete_activity_form.submit')
